# Ignore dependency folders
**/node_modules/
**/vendor/

# Ignore environment files (secrets)
**/.env
**/.env.local

# Ignore build outputs & logs
**/dist/
**/storage/*.key
**/public/storage
**/public/hot
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Laravel specific storage & cache
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# IDE / System files
.vscode/
.idea/
.zed/
.DS_Store
Thumbs.db
